@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham Black';
    src: url('/fonts/Gotham-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  