@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246; /* Updated background color to #f3f4f6 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 243, 244, 246;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Setting background to #f3f4f6 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
